build
.project
.cproject
local.cmake
.DS_Store
.settings
alshaders.sublime-workspace
alshaders.sublime-project
test/output
test.py
package.py
test/*.nk.autosave
test/*.nk~
*.pyc
.ycm_extra_conf.py
/alShaders.includes
/alShaders.files
/alShaders.creator.user
/alShaders.creator
/alShaders.config
docs
**/*.swp
**/*.swo
